body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    height: 100%;
}
.div-cheats {
    position: absolute;
    background: #2d2d2d;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
}
h1 {
    position: relative;
    top: 20px;
    left: 20px;
}
h3 {
    position: relative;
    left: 20px;
}
.select {
  position: relative;
}
.dropbtn {
  border: 2px solid grey;
  background: white;
  color: black;
  text-decoration: none;
  position: relative;
  left: 10px;
  padding: 4px;
  position: relative;
}
.dropbtn:hover {
  background: transparent;
  color: white;
  border: 2px solid white;
}

.div_content_navbar {
  position: absolute;
  width: 20%;
  height: 100%;
  right: 0;
  top: 0;
  border-left: 2px solid rgba(255, 255, 255, 0.585);
  background-color: rgb(71, 71, 71);
} .div_content_navbar .dropbtn2 {
  color: white;
  position: relative;
  padding: 10px;
  top: 200px;
  font-size: 30px;
  text-decoration: none;
  z-index: 99;
} .div_content_navbar .dropbtn2:hover {
  color: rgb(233, 233, 233);
} .selected_page {
  border-left: 10px solid white;
  background-color: rgb(129, 26, 197);
} .div_content_navbar img {
  height: auto;
  width: 70%;
  left: 15%;
  top: 75px;
  position: relative;
}

.div_qrCodes {
  position: absolute;
  width: 120px;
  bottom: 0;
  right: 25%;
}

.div_qrCodes h3 .qr_code {
  height:auto;
  width: 100px;
  position: relative;
}


.link_levels {
  position: absolute;
  z-index: 99;
  bottom: 20px;
  left: 20px;
}

.element_page_index_href {
  padding: 10px;
  border: 2px solid grey;
  background: white;
  color: black;
  text-decoration: none;
}

.element_page_index_href:hover {
  background: transparent;
  color: white;
  border: 2px solid white;
}

.selected_page_index_href {
  padding: 10px;
  border: 2px solid white;
  background: rgb(129, 26, 197);
  color: white;
  text-decoration: none;
  cursor: default;
}


@media screen and (max-width:1267px) {
  .div_content_navbar {
    width: 30%;
  }
  .div_qrCodes {
    right: 35%;
  }
}
